.content {
  position: relative;

  top: 5rem;

  width: 450px;
  max-width: calc(100vw - 2rem);

  max-height: calc(100vh - 6rem);

  overflow-y: auto;

  background: rgba(0,0,0,0.85);
  color: white;

  padding: 1rem 3rem 1rem 1rem;

  /* border-radius: 12px; */
  padding: 1rem;

  z-index: 1000;

  pointer-events: auto;

  float: left;
  
  transition: 
    transform 1.5s ease
    opacity 1.5s ease;

  transform: translateX(0);
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    padding: 0.5rem 1rem;
  }
}

.content h1,
.content h2,
.content h3 {
  margin-top: 2rem;
}

.content p {
  margin: 1rem 0;
}

.content a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/*content collapse/extend button*/
.content button {
  background-color: transparent;
  border: none;
  outline: none;

  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.content button:hover {
  opacity: 0.5;
}

/*content expanded*/
.content.expanded {
  color: inherit;
}

/*content collapsed*/
.content.collapsed {
  transform: translateX(calc(-100% - 2rem));
  opacity: 0;
  pointer-events: none;
}