.content {
  position: relative;

  top: 5rem;

  width: 450px;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 6rem);

  background: rgba(0,0,0,0.85);
  color: white;

  padding: 1rem 3rem 1rem 1rem;

  /* border-radius: 12px; */
  padding: 1rem;

  z-index: 1000;

  pointer-events: auto;

  float: left;
  
  transition: 
    transform 0.7s ease,
    opacity 0.7s ease;

  transform: translateX(0);
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    padding: 0.5rem 1rem;
  }
}

.content h1,
.content h2,
.content h3 {
  margin-top: 2rem;
}

.content p {
  margin: 1rem 0;
}

.content a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.content button:hover {
  opacity: 1.0;
}

/*content expanded*/
.content.expanded {
  transform: translateX(0);
}

/*content collapsed*/
.content.collapsed {
  transform: translateX(calc(-100%));
}

/*content collapse/extend button*/
.collapse-button {
  position: absolute;

  top: 50%;
  right: -28px;

  transform: translateY(-50%);

  width: 20px;
  height: 80px;

  border: none;
  outline: none;

  border-radius: 0px 15px 15px 0px;

  background: rgba(0,0,0,0.85);
  color: white;
  opacity: 0.5;

  cursor: pointer;

  font-size: 12px;

  z-index: 1001;
}

.collapse-button:focus {
  outline: none;
}

.collapse-button:focus-visible {
  outline: none;
}